<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <button ng-click="count = count + 1">点我！</button>

        <p>{{ count }}</p>

        <button ng-click="toggle()">隐藏/显示</button>

        <p ng-hide="myVar">
            名: <input type=text ng-model="firstName"><br>
            姓: <input type=text ng-model="lastName"><br><br>
            姓名: {{firstName + " " + lastName}}
        </p>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.count = 0;
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $scope.myVar = false;
            $scope.toggle = function () {
                $scope.myVar = !$scope.myVar;
            }
        });
    </script>

</body>

</html>