<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8">
     <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>

<body>
     <div ng-app="myapp" ng-controller="myctrl">
          <h1>test{{carname}}名字</h1>
          <input ng-model='name'>
          <h1>{{greeting}}</h1>
          <button ng-click='sayHello()'>点我</button>

          <ul>
               <li ng-repeat="x in names">{{x | myfilter}} {{lastname}}</li>
          </ul>
     </div>

     <script src='myctrl.js'></script>
</body>

</html>