<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="index.css">
    <script src="vue.js"></script>
</head>

<body>
    <div id='app'>
        <span>{{message}}</span>
        <div class="line"></div>
        <div>
            <span v-bind:title='message'>鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
        </div>
        <div class="line"></div>

        <div>
            <span v-if='!seen'>Now you can see me</span>
        </div>
        <div class="line"></div>
        <div>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div class="line"></div>

        <div>
            <button v-on:click="onClick">12345，上山打老虎</button>
        </div>

        <div class="line"></div>
        <div>
            <input type="text" v-model="inputData">
        </div>

        <div class="line"></div>
            <c-item v-for="item in groceryList" v-bind:something="item" v-bind:key="item.id"></c-item>



    </div>



    <script src="index.js"></script>
</body>

</html>