html, body {
    margin: 5px;
    padding: 0;
    font-size: 14px;
}

div {
    margin: auto;
}

.line {
    height: 40px;
    border-top: 1px solid #cccccc;
}

.redDiv {
    background-color: lightcoral;
}

#myDiv {
    background-color: antiquewhite;
}