<!doctype html>
<html ng-app="FilterInControllerModule">

<head>
    <script src="../../lib/angular-1.4.6/angular.min.js"></script>
</head>

<body>
    <div ng-controller="FilterController as ctrl">
        <div>
            All entries:
            <span ng-repeat="entry in ctrl.array"> <br>* {{entry.name}}</span>
        </div>
        <div>
            Entries that contain an "a":
            <span ng-repeat="entry in ctrl.filteredArray">{{entry.name}} </span>
        </div>
    </div>

    <script>
        var app = angular.module('FilterInControllerModule', []);
        app.controller('FilterController', ['filterFilter', function (filterFilter) {
            this.array = [
                { name: 'asnowwolf' },
                { name: 'why520crazy' },
                { name: 'joe' },
                { name: 'ckken' },
                { name: 'lightma' },
                { name: 'FrankyYang' }
            ];
            this.filteredArray = filterFilter(this.array, '520'); // angularjs 自带过滤器 过滤数组 filterFilter
        }]);
    </script>
</body>

</html>